*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


section{
    margin: 0 auto;
    border: 1px solid gray;
    width: 60%;
    
}

h1{
    font-size: 3rem;
}
p{
    font-size: 2rem;
    margin-top: 10px;
}

.titulo{
    border: 1px solid goldenrod;
    background-color: goldenrod;
    color: brown;
    box-shadow: 1px 1px 2px 1px rgba(131, 124, 124, 0.5);
}